* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #81a3b86a;
}

.dashboard-container {
  display: grid; 
  grid-template-columns: 0.6fr 1fr 1.1fr; 
  grid-template-rows: auto;
  gap: 0px 0px; 
  margin-top: 65px;
  min-height: calc(100vh - 65px);
  width: 100%;
  grid-template-areas: 
    "dashboard-nav dashboard-main dashboard-main"
    "dashboard-nav dashboard-main dashboard-main"
    "dashboard-nav dashboard-main dashboard-main"; 
}
.dashboard-nav { 
  grid-area: dashboard-nav;
  display: flex;
  justify-content: center ;
  align-items: center;
  border-right: .3px solid rgba(255, 255, 255, 0.253);
}


.dashboard-main { 
  grid-area: dashboard-main; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column ;
}

.table-container {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-container {
  width: 95%;
  display: flex;
  margin: 5px;
  justify-content: space-between;
  align-items: center;
}

.politics-container {
  width: 75%;
  display: flex;
  justify-content: center;
}
